body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer1{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer1 h1{
    opacity: 0.5;
}

.df1{
    font-size: 2.3rem;
    font-weight: 900;
}

.df2{
    font-size: 1.9rem;
    font-weight: 200;
    word-spacing: 3px;
}

.footer2 {
    background-color: black;
    display: flex;
    gap: 60px; 
    justify-content: center; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer2 a {
    text-decoration: none;
}

.footer2 p {
    padding: 0;
    margin: 0; 
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
}

.footer3{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3%;
    padding-left:  20%;
    padding-right: 20%;
}

.footer3 p{
    color: white;
    opacity: 0.4;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.footer4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 80px;
    gap: 20px;
    padding-top: 50px;
}

.footer4 img{
    opacity: 0.5;
    height: 40px;
}

.frontpage {
    width: 100vw;
    height: 100vh; 
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.fp1 {
    width: 100%;
    height: 100%;
}

.fp1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fp2 {
    position: absolute;
    top: 50%;
    left: 5%; 
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.fp2 h1 {
    margin: 0;
    font-size: 6.8rem;
    font-weight: 400;
}

.fp2 p {
    margin: 10px 0 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.rewrite{
    margin: 4%;
    margin-bottom: 9%;
}

.rewrite h1{
    font-size: 3rem;
    font-weight: 400;
}

.rewrite p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 200;
}

.tex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    --g: 2px;   /* the gap */
    --s: 100vh; /* the size */
  
    display: grid;
    border-radius: 50%;
    margin-bottom: 30%;
    margin-top: 10%;
    border: 2px solid black;
    overflow: hidden;
  }
  .gallery > img {
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(var(--_x,0),var(--_y,0));
    cursor: pointer;
    font-size: 0;
    z-index: 0;
    transition: .4s, z-index 0s .3s;
  }



  .gallery img:hover {
    font-size: var(--s);
    z-index: 1;
    transition: transform .5s, font-size .3s .2s, z-index 0s;
  }
  .gallery:hover img {
    transform: translate(0,0);
  }
  .gallery > img:nth-child(1) {
    clip-path: polygon(50% 50%,.5em 1.2em,0 1em,0 0,100% 0,100% 1em,calc(100% - .5em) 1.2em);
    --_y: calc(-1*var(--g))
  }
  .gallery > img:nth-child(2) {
    clip-path: polygon(50% 50%,calc(100% - 1.2em) 0.5em,calc(100% - 1em) 0,100% 0,100% 100%,calc(100% - 1em) 100%,calc(100% - 1.2em) calc(100% - .5em));
    --_x: var(--g)
  }
  .gallery > img:nth-child(3) {
    clip-path: polygon(50% 50%,calc(100% - .5em) calc(100% - 1.2em),100% calc(100% - 1.2em),100% 100%,0 100%,0 calc(100% - 1em),.5em calc(100% - 1.2em));
    --_y: var(--g)
  }
  .gallery > img:nth-child(4) {
    clip-path: polygon(50% 50%,1.2em .5em,1em 0,0 0,0 100%,1em 100%,1.2em calc(100% - .5em));
    --_x: calc(-1*var(--g))
  }

.cat p{
    font-size: 3rem;
}

.cat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16%;
}



.city {
    position: relative;
    width: 100vw;
    /* margin-bottom: 10%; */
}

.city img {
    width: 100%;
    height: auto;
    display: block;
}

.city .text-overlay3 {
    position: absolute;
    top: 50%;  
    right: 10%; 
    transform: translateY(-50%); 
    color: white; 
    text-align: right; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    /* margin-top: 0; */
    border-radius: 10px;
    max-width: 40%; 
}


.harry1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
}

.side {
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; 
}

.side img {
    width: 60%;
    max-width: 100%;
    height: auto;
}

.harry2 {
    background-color: #d8ebeb;
    flex: 2;
    height: 74%;
    width: 80%;
    margin: 0% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.harrytext {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    text-align: left; 
    padding-right: 5%;
    padding-left: 70%;
}

.harrytext h1{
    padding-right: 25%;
    font-weight: 500;
    font-size: 2rem;
}

.harrytext p{
    margin-bottom: 32%;
}

.nice{
    display: grid;
    /* border: 3px solid red; */
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 40vh);
    margin-bottom: 15%;
    margin-top: 12%;
    margin-left: 5%;
    margin-right: 5%;
    grid-gap: 3%;
}

.nice1{
    grid-column: span 1;
    grid-row: span 1;
    overflow: hidden;
}

.nice1 img{
    object-fit: cover;
    transition: all 0.4s ease;
    object-position: center;
    width: 100%;
    height: 100%;
}

.nice2 , .nice3{
    grid-column: span 1;
    grid-row: span 1;
    overflow: hidden;
}

.nice2 img , .nice3 img{
    transition: all 0.4s ease;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.niceh{
    font-weight: 500;
}

.nicep{
    font-weight: 300;
}

.nice1:hover img , .nice2:hover img, .nice3:hover img{
    scale: 1.1;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 1200px; */
    max-height: 50vh;
    /* margin: 50px auto; */
    margin-top: 11%;
    margin-bottom: 17%;
    gap: 50px;
}

.bike-image {
    flex: 1;
}

.bike-image img {
    width: 80%;
    height: auto;
    margin-left: 8%;
}

.contact-info {
    flex: 1;
    max-width: 400px;
}

.dropdown {
    margin-bottom: 20px;
}

.request-btn {
    background: linear-gradient(to right , red , rgb(203, 21, 23));
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    border: none;
    padding: 16px 6px;
    cursor: pointer;
    width: 12vw;
    text-transform: uppercase;
}

#ci1{
    padding-top: 6%;
    padding-bottom: 6%;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.1rem;
}

#pvr{
    padding: 12px 0px;
}

#z11{
    padding: 6% 0%;
    opacity: 0.6;
    letter-spacing: 1px;
    word-spacing: 1px;
}