*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}

.frontpage{
    width: 100vw;
}

.f1 img{
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.p1{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bol1{
    font-weight: 400;
}
p{
    font-weight: 200;
    text-align: left;
    width: 47vw;
    /* font-size: 1rem; */
    letter-spacing: 1px;
}



.content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.y11 h3{
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: left;
    letter-spacing: 1px;
}

.y11 p{
    padding-bottom: 4%;
}

.container3 {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    height: 40vh;
    overflow: hidden;

    margin: 6%;

    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.2);

    transition: box-shadow 0.25s ease;
}

.t21 {
    flex: 1;
    max-width: 50%;
    margin-left: 20px;
}

.t21 h4 {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

#myd{
    color: gray;
    font-weight: 400;
}

.t21 h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.t21 p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.appButton {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.appButton h4{
    font-weight: 500;
}

.t22 {
    flex: 2;
    max-width: 50%;
    height: 50vh;
}

.t22 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    display:block;
}

.container3 img{
    object-fit: cover;
}

.container3:hover{
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.5);
}

.newsletter{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.news1{
    width: 50%;
}

#dp{
    font-weight: 600;
}

.news1 h3{
    letter-spacing: 2px;
    font-weight: 400;
}

.news1 p{
    font-size: 0.8rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    opacity: 0.5;
}

.subscribe-container {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    gap: 20px;
}

input {
    flex: 1;
    min-width: 300px; 
    padding: 13px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #777;
    outline: none;
}

.subscribe-btn {
    background: linear-gradient(to bottom, #E53935, #B71C1C);
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
}

.footer1{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer1 h1{
    opacity: 0.5;
}

.df1{
    font-size: 2.3rem;
    font-weight: 900;
}

.df2{
    font-size: 1.9rem;
    font-weight: 200;
    word-spacing: 3px;
}

.footer2 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 10px 0px 18px 0px;

}

.footer2 a {
    text-decoration: none;
}

.footer2 p {
    width: 13vw;
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
    opacity: 0.6;
    font-size: 0.65rem;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.footer3{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3%;
    padding-left:  20%;
    padding-right: 20%;
}

.footer3 p{
    color: white;
    opacity: 0.4;
    width: 60vw;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.footer4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 80px;
    gap: 20px;
    padding-top: 50px;
}

.footer4 img{
    opacity: 0.5;
    height: 40px;
}

.flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.jusforfun {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh; 
    overflow: hidden;
}

.j21 {
    width: 100%;
    height: 100%;
}

.j21 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container without distortion */
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 1200px; */
    max-height: 50vh;
    /* margin: 50px auto; */
    margin-top: 11%;
    margin-bottom: 17%;
    gap: 50px;
}

.bike-image {
    flex: 1;
}

.bike-image img {
    width: 100%;
    height: auto;
}

.contact-info {
    flex: 1;
    max-width: 400px;
}

.dropdown {
    margin-bottom: 20px;
}

.request-btn {
    background: linear-gradient(to right , red , rgb(203, 21, 23));
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    border: none;
    padding: 16px 6px;
    cursor: pointer;
    width: 12vw;
    text-transform: uppercase;
}

#ci1{
    padding-top: 6%;
    padding-bottom: 6%;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.1rem;
}

#pvr{
    padding: 12px 0px;
}

#z11{
    padding: 6% 0%;
    opacity: 0.6;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.win1{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 0.6;
    letter-spacing: 1px;
}